/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width: 1024px){
    .burger-icon {
        display: block;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 30px;
    }
    nav ul :nth-child(1) {
        color: #fff;
    }
    nav ul {
        display: none;
    }
    .text-box {
        margin: 0 auto;
    }
    .icons-box {
        max-width: 600px;
        width: 100%;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: 0 auto;
    }
    .section2 {
        height: auto;
        padding: 20px 0;
    }
    .icon-box:nth-child(1),
    .icon-box:nth-child(2) {
        margin-bottom: 10px;
    }
}
@media (max-width: 980px){
    .twin-pics {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
@media (max-width: 768px){
    .section1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
    }
    .text-block{
        margin-bottom: 40px;
    }
}
@media (max-width: 530px){
.icon-box:nth-child(4) {
        margin-top: 10px;
    }
    .text-block{
        padding: 20px;
    }
}
@media (max-width: 480px){
    nav{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.burger-icon {
    font-size: 20px;
}
}
@media (max-width: 320px){
.text-block {
    max-width: 300px;
    width: 100%;
}
.burger-icon {
    font-size: 20px;
}
h1 {
    margin-left: 60px;
}
}
